body {
  background-color: hsl(228, 99%, 58%);
  font-family: inter;
  color: white;
  font-size: 17px;
  margin: 0;
  padding: 0;
}
.container {

}
.main-title {
font-size: 30px;
}

.box {
  padding: 20px;
  border: solid;
  border-width: 0.5px;
  display: flex;
  flex-direction: column;
}
.description {
  font-size: 14px;
}

.low-description {
color: rgb(190, 190, 190);
}

.number-div {
  padding-bottom: 100px;
}

nav {
  padding: 30px;
}
.icon {
  height: 30px;
}